---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,-bugprone-easily-swappable-parameters'
WarningsAsErrors: true
HeaderFilterRegex: ''

#Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,bugprone-*,modernize-*'
#Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*'

#HeaderFilterRegex: 'ignoredfolder/*\.h'
#HeaderFilterRegex: '(stddef\.h|cstddef|vcruntime\.h)$'
#HeaderFilterRegex: 'libcpp64/include/libcpp64/syss'
